CGA2Framework/CGA2Framework/Debug/
CGA2Framework/CGA2Framework/libs/
*.sdf
*.sln
*.opensdf
CGA2Framework/CGA2Framework/Release/CGA2Framework.tlog/CGA2Framework.lastbuildstate
CGA2Framework/CGA2Framework/Release/CGA2Framework.tlog/cl.command.1.tlog
*.tlog
*.filters
*.vcxproj
*.bmp
*.jpg
*.mtl
*.png
CGA2Framework/Debug/
CGA2Framework/CGA2Framework/Release/
*.user
*.suo
CGA2Framework/ipch/*
